<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
<h1>Welcome</h1>
<h3>Here are your orders:</h3>
<!-- Nav tabs -->


    <ul class="nav nav-tabs"  role="tablist">
      <li class="nav-item <%= 'active' if params[:status] == 'Pending' %>">
        <%= link_to "Pending", { status: "Pending", type: @type, controller: 'orders', action: 'index' } %>
      </li>
      <li class="nav-item <%= 'active' if params[:status] == 'Confirmed' %>">
        <%= link_to "Confirmed", { status: "Confirmed", type: @type, controller: 'orders', action: 'index' } %>
      </li>
      <li class="nav-item <%= 'active' if params[:status] == 'Finished' %>">
        <%= link_to "Finished", { status: "Finished", type: @type, controller: 'orders', action: 'index' } %>
      </li>
      <li class="nav-item <%= 'active' if params[:status] == 'Canceled' %>">
        <%= link_to "Canceled", { status: "Canceled", type: @type,controller: 'orders', action: 'index' } %>
      </li>
      <li>

          <% @type_list = ["none", "cakes", "cookies", "cakesicles", "meringue"] %>
          <% if @type == "cake_size"%>
          <% @type = "cakes" %>
          <% end %>
          <%= select_tag "type", options_for_select(@type_list, @type), id: "type_list", class: "form-control", style: "height: 40px;" %>


      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home" role="tabpanel">
        <% @orders.each_with_index do |order, index| %>
        <table class="table">
            <% if index == 0 %>
              <tr style="background: #6cb5a9; color:white;">
                <th style="width:10%;">#</th>
                <th style="width:30%;">Name</th>
                <th style="width:30%;">Email</th>
                <th style="width:20%;">Telephone</th>
                <th style="width:10%;">Type</th>
              </tr>
            <% end %>
            <tr onclick="test(this.id)" id="<%= order.id %>" style="<%= "background: lightgrey" unless index % 2 == 0 %>">
              <td style="width:10%;"><%= order.id %></td>
              <td style="width:30%;"><%= order.name %></td>
              <td style="width:30%;"><%= order.email %></td>
              <td style="width:20%;"><%= order.telephone %></td>
              <td style="width:10%;"><i class="<%= order.cake_size ? 'fa fa-birthday-cake' : 'fa fa-tags' %>"></i></td>
            </tr>
        </table>
            <div id="order<%= order.id %>" style="display: none; margin-top: 10px;">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <strong>Remark of <%= order.name %></strong> <span class="text-muted"></span>
                </div>
                <div class="panel-body">
                  <%= order.remarks %>
                </div>
              </div>
              <br/>
              <% if order.cake_size %>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <strong>Cake details</strong> <span class="text-muted"></span>
                  </div>
                  <table class="table">
                    <tr>
                      <td>Size</td>
                      <td><%= order.cake_size %></td>
                    </tr>
                    <tr>
                      <td>Flavor</td>
                      <td><%= order.cake_flavor %></td>
                    </tr>
                    <tr>
                      <td>Filling(s)</td>
                      <% if(order.cake_filling) %>
                        <% order.cake_filling.each do |f| %>
                          <td><%= f %></td>
                        <% end %>
                      <% end %>
                      <td>No filling specified</td>
                    </tr>
                    <tr>
                      <td>Decoration</td>
                      <td><%= order.cake_decoration.humanize %> <%= order.cake_decoration_color unless !order.cake_decoration_color.present? %></td>
                    </tr>
                    <tr>
                      <td>Style</td>
                      <td><%= order.cake_style %></td>
                    </tr>
                    <tr>
                      <td>Drip</td>
                      <td><%= order.cake_drip ? "Yes" : "No" %></td>
                    </tr>
                  </table>
                </div>
              <% else %>
                <% if order.cookies %>
                  <p><span style="font-weight:700;">Cookies:</span><%= order.cookies %></p>
                <% end %>
                <% if order.cakesicles %>
                  <p><span style="font-weight:700;">Cakesicles:</span><%= order.cakesicles %></p>
                <% end %>
                <% if order.meringue %>
                  <p><span style="font-weight:700;">Meringue:</span><%= order.meringue %></p>
                <% end %>

              <% end %>
              <p> Change the status of this order: </p>
             <%= form_for Order.find(order.id), {method: :PUT} do |f| %>
               <div id="order-status-inline">
                 <%= f.select :status, [['Pending'],['Confirmed'],['Finished'],['Canceled']], {}, class: "form-control", style: "height: 40px; width: 200px; margin-right: 20px;"  %>
                <%= hidden_field_tag 'type', @type  %>
                <button class="btn btn-default" type="submit">Save</button>
               </div>
             </div>
             <% end %>
            </div>
        <% end %>
      </div>
    </div>
    <script>
  $(function(){
  $('#type_list').bind('change', function () {
   var current_url = window.location.href
   var url = new URL(current_url);
   var status = url.searchParams.get("status");
   if(!status){ status = "Pending" }
   var url = "/orders?type=" + $(this).val() + "&status=" + status;
    if (url) {
        window.location.replace(url);
    }
    return false;
    });
  });
  function test(id){
    var display_status = document.getElementById(`order${id}`).style.display;
    if(display_status == "none"){
      document.getElementById(`order${id}`).style.display = "block";
    } else {
      document.getElementById(`order${id}`).style.display = "none";
    }
  }
</script>


</div>
