<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Cakesicles</h1>
      <br/>
      <p> <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508504830/nl_zuhr9d.svg' height="15px"> Cake met chocolade dip! </p>

      <p> <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508504830/gb_elgx2c.svg' height="15px"> Cake with chocolate dip! </p>
      <br/>
      <div class="row">
        <div class="col-md-4" >
          <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508405798/cakesicles1_hypjaq.jpg' height="550px">
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <div class="col-md-4">
      <%= form_for @cakesicle, :url => url_for(:controller => 'otherproducts', :action => 'cakesicles_create') do |f| %>
      <div class="container">
        <div class="">

          <h4>Please fill your details and the quantity of cakesicles that you desire.</h4>
          <div class="" id="cookies" style="padding:10px;">
            <%= f.radio_button :cookies, 10, id: "cakesicles_1"%>
            <%= f.label :cookies, '1 - €2.00'%><br>
            <%= f.radio_button :cookies, 20, id: "cakesicles_2"%>
            <%= f.label :cookies, '10 - €17.00' %><br>

          </div>
          <br>
          <%= f.text_field :name, placeholder: "Enter your name", class: "form-control" %><br>
          <%= f.text_field :telephone, placeholder: "Enter your mobile", class: "form-control" %><br>
          <%= f.text_field :email, placeholder: "Enter your e-mail", class: "form-control" %><br>
          <%= f.text_area :remarks, placeholder: "Enter remarks...", class: "form-control" %><br>
          <div class="actions">
            <%= f.submit "Send", class: "btn btn-block make-cake-btn"%>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
