<div class="container">

  <h1> Lolly Cookies </h1>

  <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508403699/cookies_lyaour.jpg'>

  <h3> Vermaak uw gasten met deze leuke en smakelijke Lolly Cookies! </h3>
  <h3> Dit is een originele traktatie voor op school of verjaardagen! </h3>

  <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508403699/cookie1_es3tdk.jpg' height="250px" >

  <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508403699/cookie2_xdwkn4.jpg' height="250px" >

  <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508403699/cookie3jpg_nuru8p.jpg' height="250px">

  <p> Deze cookies zijn met rietsuiker, natuurlijke smaakstoffen en chia zaden </p>

  <p> 10 cookies = €10.00 </p>
  <p> 20 cookies = €15.00 </p>
  <p> 30 cookies = €20.00 </p>

<%= form_for @cookie, :url => url_for(:controller => 'otherproducts', :action => 'cookies_create') do |f| %>
  <div class="container">
    <div class="customer-details">
      <h2>Please fill your details and the quantity of cookies that you desire</h2>

      <div class="cake-size" id="cookies">
        <h2>Quantity</h2>
        <%= f.radio_button :cookies, 10, id: "cookies_1"%>
        <%= f.label :cookies, '10'%>
        <%= f.radio_button :cookies, 20, id: "cookies_2"%>
        <%= f.label :cookies, '20' %>
        <%= f.radio_button :cookies, 30, id: "cookies_3" %>
        <%= f.label :cookies, '30' %>
      </div>

      <%= f.text_field :name, placeholder: "Enter your name", class: "form-control" %><br>
      <%= f.text_field :telephone, placeholder: "Enter your mobile", class: "form-control" %><br>
      <%= f.text_field :email, placeholder: "Enter your e-mail", class: "form-control" %><br>
      <%= f.text_area :remarks, placeholder: "Enter remarks...", class: "form-control" %><br>
      <div class="actions">
        <%= f.submit "Send", class: "btn btn-block btn-info"%>
      </div>
    </div>
  </div>
  <% end %>

</div>
