<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Lolly Cookies</h1><br>
      <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508403699/cookies_lyaour.jpg' height="500px">
      <div>
      <br/>
        <p> <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508504830/nl_zuhr9d.svg' height="15px"> Vermaak uw gasten met deze leuke en smakelijke Lolly Cookies!<br>
          Dit is een originele traktatie voor op school of verjaardagen!<br><br>
        <b><i>  Deze cookies zijn met rietsuiker, natuurlijke smaakstoffen en chia zaden. </b></i>
        </p>
      </div>
      <br/>

      <div>
        <p> <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508504830/gb_elgx2c.svg' height="15px"> Entertain your guests with these nice and tasty Lolly Cookies!
          <br>
          This is an original treat for school or birthdays! <br><br>
        <b><i>These cookies are made with unprocessed cane sugar, natural flavors and chia seeds.</b></i>
        </p>
      </div>

      <div class="row">
        <div class="col-md-4">
          <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508403699/cookie1_es3tdk.jpg' style="width: 100%;
    object-fit: contain;">
        </div>
        <div class="col-md-4">
          <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508403699/cookie2_xdwkn4.jpg' style="width: 100%;
    object-fit: contain;">
        </div>
        <div class="col-md-4">
          <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508403699/cookie3jpg_nuru8p.jpg' style="width: 100%;
    object-fit: contain;">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <%= form_for @cookie, :url => url_for(:controller => 'otherproducts', :action => 'cookies_create') do |f| %>
      <div class="container">
        <div class="">

          <h4>Please fill your details and the quantity of cookies that you desire.</h4>
          <div class="" id="cookies" style="padding:10px;">
            <%= f.radio_button :cookies, 10, id: "cookies_1"%>
            <%= f.label :cookies, '10 - €10.00'%><br>
            <%= f.radio_button :cookies, 20, id: "cookies_2"%>
            <%= f.label :cookies, '20 - €15.00' %><br>
            <%= f.radio_button :cookies, 30, id: "cookies_3" %>
            <%= f.label :cookies, '30 - €20.00' %>

          </div>
          <br>
          <%= f.text_field :name, placeholder: "Enter your name", class: "form-control" %><br>
          <%= f.text_field :telephone, placeholder: "Enter your mobile", class: "form-control" %><br>
          <%= f.text_field :email, placeholder: "Enter your e-mail", class: "form-control" %><br>
          <%= f.text_area :remarks, placeholder: "Enter remarks...", class: "form-control" %><br>
          <div class="actions">
            <%= f.submit "Send", class: "btn btn-block make-cake-btn"%>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
